{% extends "front/front.html" %}

{% load hosts %}

{% block content %} 

<div class='container'>

 <section class='container content-section'>
  <div class='row'>
   <div class='col-xs-12 col-xs-offset-0 col-sm-8 col-sm-offset-2'>

   {% for export in export_list %}

       <h3>Experiment <a href="//{{MAIN_SUBDOMAIN_NAME}}/{{export.name}}">{{export.name|capfirst}}</a></h3>
       <ul class='data-export-list'>
       <li>Most recent data set: Recorded at {{export.datetime | date:"H:i:s, l, F j, Y"}}. 
            <a href="{{export.url}}">[Download]</a> ({{export.filesize}}).
       </li>
       <li>All data sets: <a href="{{export.name}}">here</a>.</li>
       </ul>

   {% endfor %}

   </div>
  </div>
 </section>

</div>

{% endblock content %}
