<div id='forgot-my-password' class="col-xs-12 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">	

        <h3> {{forgot_your_password_title}} </h3>

	<form class="forgotPwdForm" action="" autocomplete="off" method="POST">

	<div class="input-group">
		<span class="input-group-addon"><i class="fa fa-envelope fa-lg"></i></span>
                <input value='{{username_starting_value}}' type="text" class="form-control" name="username" placeholder="email address">
	</div>

	{% if username_error_msg %}
            <span class="username-error help-block">{{username_error_msg}}</span>
        {% endif %}

	{% if reset_password_success %}
            <span class="help-block">Your new password has been sent to {{reset_password_sent_to_email}}</span>
        {% endif %}
        
	{% if send_mail_failure %}
            <span class="help-block">{{send_mail_msg_error}}</span>
        {% endif %}
						
	<button class="btn btn-lg btn-default btn-block submit-btn" type="submit">Reset Password</button>

	<span class="passwd-error help-block"></span>

	</form>

	<p class="back-to-login forgotPwd-or-login">
	<a href="/login">Go back to login</a>
	</p>

</div>
