{% extends 'bartlett/widget.html' %}

{% block widget_id %}'tetris_widget'{% endblock widget_id %} 

{% block instructions_content %}

<li>
    <p>You will now play a game of tetris for around {{widget_template_data.approx_game_time}}. You should try
    to score as many points as you can in this time. After the game, your
    memory for the {{slide_template_data.memorandum_type}} you just saw will be
    tested.</p>
</li>

{% endblock instructions_content %}

{% block stimulus_content %}
<div class='container'>

	<div id='gamebox' class='row'>

	        <div class='col-lg-3 col-lg-offset-1 hidden-sm hidden-xs'>
			<p id='tetris-help' class='HelpBox'>
                        Use the controls to rotate or move the pieces. 
                        <br> You can also use the keys r for rotate, d for down, j for left, k for right.
                        <br> You'll score a point for every full row of tiles.
			</p>
		</div>

		<div class='col-lg-4 text-center'>

			<div id='scoreboard'>
			<div id='scoreboard-score' >
				Score: <span id='score'></span>
			</div>
			<div id='scoreboard-countdown' >
				Countdown: <span id='countdown-time'></span>
			</div>
			</div>

			<canvas id="tetris-board"></canvas>
                        <div id='GameOver'></div>

			<div id='tetris-controls' class='ButtonBox'>
			<span id='rotate' class='button'><i class="fa fa-undo"></i></span>
			<span id='left' class='button'><i class="fa fa-arrow-left"></i></span>
			<span id='right' class='button'><i class="fa fa-arrow-right"></i></span>
			<span id='down' class='button'><i class="fa fa-arrow-down"></i></span>
			</div>
		</div>

		</div>


</div>

{% endblock stimulus_content %}


{% block javascript %}
{{ block.super }}
       	    <script type="text/javascript" src='/static/games/widgets/tetris.js'></script>
{% endblock javascript %}
