amqp==1.4.9
anyjson==0.3.3
asn1crypto==0.23.0
backports-abc==0.4
backports.ssl-match-hostname==3.5.0.1
BeautifulSoup==3.2.1
billiard==3.3.0.22
celery==3.1.20
certifi==2015.11.20.1
cffi==1.11.2
configobj==5.0.6
coverage==4.0.3
cryptography==2.1.3
decorator==4.0.6
Django==1.9.2
django-extensions==1.6.1
-e git+https://github.com/jezdez/django-hosts.git@6e1bc451cffa5f4082664aa7bdf711097c24e895#egg=django_hosts
django-ipware==1.1.3
django-lockdown==1.2
django-nose==1.4.3
django-sendfile==0.3.10
django-user-agents==0.3.0
docutils==0.12
enum34==1.1.6
functools32==3.2.3.post2
idna==2.6
ipaddress==1.0.18
ipykernel==4.2.2
ipython==4.0.3
ipython-genutils==0.1.0
ipywidgets==4.1.1
Jinja2==2.8
jsonfield==1.0.3
jsonschema==2.5.1
jupyter==1.0.0
jupyter-client==4.1.1
jupyter-console==4.1.0
jupyter-core==4.0.6
kombu==3.0.33
loremipsum==1.0.5
MarkupSafe==0.23
mistune==0.7.1
nbconvert==4.1.0
nbformat==4.0.1
ndg-httpsclient==0.4.0
nose==1.3.7
notebook==4.1.0
numpy==1.21.0
oauthlib==1.0.3
path.py==8.1.2
pep8==1.7.0
pexpect==4.0.1
pickleshare==0.6
psycopg2==2.6.1
ptyprocess==0.5.1
pyasn1==0.1.9
pycparser==2.18
Pygments==2.1
PyJWT==1.4.0
pyOpenSSL==17.3.0
python-openid==2.2.5
python-social-auth==0.2.14
pytz==2015.7
PyYAML==3.11
pyzmq==15.2.0
qtconsole==4.1.1
requests==2.9.1
requests-oauthlib==0.6.0
scipy==0.17.1
selenium==2.53.5
sh==1.11
simplegeneric==0.8.1
singledispatch==3.4.0.3
six==1.11.0
terminado==0.6
tornado==4.3
traitlets==4.1.0
ua-parser==0.6.1
Unidecode==0.4.19
Unipath==1.1
urllib3==1.14
user-agents==1.0.1
validate-email==1.3
