.main-feedback-take-home {
	color:red;
        font-style: italic;
        font-weight: bold;
}

.barbox {
  background-color: LightBlue;
}

.null-barbox {
  background-color: white;
}

.barbox-bar {
  font: 10px sans-serif;
  background-color: steelblue;
  text-align: right;
  padding: 3px;
  margin: 0px;
  color: white;
}

.recognition_test_feedback {
    font-size: 20px;

table {
    margin-left:auto; 
    margin-right:auto;
    background-color: white;
    border: solid 0px black;
    padding: 10px;
}

ul
{
    list-style-type: none;
    padding: 10px;
    margin: 10px;
    text-align: center;
}

th {
    text-align: center;
    padding: 20px;
}
}
